<!-- Nav bar & hero image inherited from application.html.erb -->

<div class="main" id="profile-show">
<!-- Header -->
    <header>
        <h1>User Profile</h1>
    </header>
<!-- Main section: Show a listing -->  
    <section>
        <div>
            <%= image_tag @user.pic if @user.pic.attached? %>
        </div>

        <div class="field">
            <span class="label">Username:</span>
            <%= @user.username %>
        </div>

        <div class="field">
            <span class="label">Email:</span>
            <%= @user.email %>
        </div>

        <div class="field">
            <span class="label">Bio:</span>
            <%= @user.bio %>
        </div>

        <div class="field">
            <span class="label">Skin Type:</span>
            <%= @user.skin_type %>
        </div>


        <div class="field">
            <h1>
                <%= @user.username.upcase %> has <%= @user.listings.count %> makeup(s) listed in ABM:</span>
            </h1>
            <% @user.listings.each do |listing| %>
                <div class="field"><span class="label">Listing id</span>: <%= listing.id if listing.id %></div>
                <div class="field"><%= image_tag listing.pic if listing.pic.attached? %></div>
                <div class="field"><span class="label">Title</span>: <%= link_to listing.title, listing_path(listing.id) if listing.title %></div>
                <div class="field"><span class="label">Brand</span>: <%= listing.brand if listing.brand %></div>
                <div class="field"><span class="label">Price</span>: <%= number_to_currency(listing.price) if listing.price %></div>
            <% end %>
    </section>
<!-- Footer -->
   <%= render "shared/footer" %>
</div>