<h1>User Profile</h1>

  <%= image_tag @user.pic if @user.pic.attached? %>

<p>
    <span>Username:</span>
    <%= @user.username %>
</p>

<p>
    <span>Email:</span>
    <%= @user.email %>
</p>

<p>
    <span>Bio:</span>
    <%= @user.bio %>
</p>

<p>
    <span>Skin Type:</span>
    <%= @user.skin_type %>
</p>

<div>

    <span>Listings:</span> Currently, <span><%= @user.username %></span> has <%= @user.listings.count %> listing(s) in ABM.
   <% @user.listings.each do |listing| %>

        <p><span>Listing id</span>: <%= listing.id if listing.id %></p>
        <div><%= image_tag listing.pic if listing.pic.attached? %></div>
        <p><span>Title</span>: <%= link_to listing.title, listing_path(listing.id) if listing.title %></p>
        <p><span>Brand</span>: <%= listing.brand if listing.brand %></p>
        <p><span>Price</span>: <%= number_to_currency(listing.price) if listing.price %></p>
    <% end %>
</div>