<h2>Sign up</h2>

<div class="devise-user">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :skin_type %><br />
    <%= f.select(:skin_type, [["Oily Skin", "oily"], ["Normal Skin", "normal"], ["Dry Skin", "dry"], ["Combo Skin", "combo"]]) %>
  </div>

  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio, autocomplete: "bio" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
      <%= f.label :pic, "Upload picture" %>
      <%= f.file_field :pic, accept: "image/png, image/gif, image/jpeg, image/jpg, image/JPG" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<h2>Already have an account with ABM? </h2>
<%= render "devise/shared/links" %>
</div>
<!-- Footer -->
<%= render "shared/footer" %>
