<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select(:category, [["Face", "face"], ["Eyes", "eyes"], ["Lips", "lips"], ["Accessories", "accessories"]]) %>
  </div>

  <div class="field">
    <%= form.label :price, "Price (in cents) $" %>
    <%= form.number_field :price, min: 0 %>
  </div>

  <div class="field"> 
    <%= form.label :Location, {:style=>"padding-bottom: 20px; text-decoration: underline;"} %>
    <%= form.fields_for :location do |l| %>
      <%= l.label :suburb %>
      <%= l.text_field :suburb %>

      <%= l.label :postcode %>
      <%= l.text_field :postcode %>

      <%= l.label :state %>
      <%= l.text_field :state %>
    <% end %>
  </div>
  
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
      <%= form.label :pic, "Upload picture" %>
      <%= form.file_field :pic, accept: "image/png, image/gif, image/jpeg, image/jpg, image/JPG" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
