<div id="listing-index">
<!-- do I do another div class main under div id??? -->
    <div class="main"> 
        <header>
            <h1>All Makeup Listings</h1>
        </header>

<!-- Search button - simple search: case insensitive, simple fuzzy search -->
<%= form_tag(listings_path, method: :get) do %>
    <%= label_tag(:search, "Please enter keywords:") %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag "Search" %>
<% end %>



        <section class="container">
<!-- <div></div>   
div-one for Filters & Sort by: need to decide id or class later -->

<!-- div-two: show all the listing -->
            <div> 
                <% @listings.each do |listing| %>
                    <%= link_to(listing) do %>
                        <div>
                            <%= image_tag listing.pic if listing.pic.attached? %>
                            <p><%= listing.title %></p>
                            <p><%= number_to_currency(listing.price) %></p>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </section>
    </div>
</div>
