<div id="listing-index">
<!-- do I do another div class main under div id??? -->
    <div class="main"> 
        <header>
            <h1>All Makeup Listings</h1>
        </header>

<!-- Simple search form -->
  <%= render "listings/simple_search", listing: @listing %>


<!-- Advanced search form -->
<%= link_to "Advanced Search", new_search_path %>


        <section class="container">
<!-- <div></div>   
div-one for Filters & Sort by: need to decide id or class later -->

<!-- div-two: show all the listing -->
            <div> 
                <% @listings.each do |listing| %>
                            <p><%= image_tag listing.pic if listing.pic.attached? %></p>
                            <%= link_to "#{listing.title}", listing_path(listing.id) %>
                            <p><%= number_to_currency(listing.price) %></p>
                <% end %>
            </div>
        </section>
    </div>

</div>
