<!-- Nav bar inherited from application.html.erb -->

<div class="main" id="listing-index">

<!-- Search: simple &  advanced -->
    <div class="search-container">
        <%= render partial:"listings/simple_search", listing: @listing, locals: { myclass: "simple-search" } %>
        <%= link_to "Advanced Search", new_search_path, class: "advanced-search" %>
    </div>


<!-- Header -->
    <header>
        <h1>All Makeups</h1>
    </header>

<!-- Main section: show all the listing -->
    <section>

            <% @listings.each do |listing| %>
        <div> 
                <p><%= image_tag listing.pic if listing.pic.attached? %></p>
                <%= link_to "#{listing.title}", listing_path(listing.id) %>
                <p><%= number_to_currency(listing.price) %></p>
              </div>     
            <% end %>

    </section>

<!-- Footer -->
   <%= render "shared/footer" %>

</div>
