<!-- Nav bar & hero image inherited from application.html.erb -->

<div class="main" id="listing-purchase">

<!-- Header -->
    <header>
        <h1>Purchae Confirmation</h1>
    </header>

<!-- Main section: purchase confirmation information-->
    <section>
        <div class="confirmation">
            <p>You are redirecting to a third party payment website for secure payment processing.</p>
            <p>Please press 'Continue' to confirm if you would like to continue.</p>
        </div>

        <form method="POST" action="<%= purchase_listing_path %>">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <input type="hidden" name="id" value="<%= current_user.id %>" />
            <input type="hidden" name="id" value="<%= @listing.id %>" />
            <input data-stripe="payment" type=submit value="Continue" />
        </form>

        <script src="https://js.stripe.com/v3/"></script> 

        <script>
            document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
                const stripe = Stripe("<%= @public_key %>");
                stripe.redirectToCheckout({
                    sessionId: "<%= @session_id %>"
                })
            })
        </script>
    </section>
   <%= render "shared/footer" %>
</div>

