<!-- Nav bar & hero image inherited from application.html.erb -->

<div class="main" id="listing-show">

<!-- Header -->
    <header>
      <h1><%= @listing.title %></h1>
    </header>

<!-- Main section: Show a listing -->  
    <section class="session-listing">  

      <div>
        <%= image_tag @listing.pic if @listing.pic.attached? %>
      </div>

      <div class="field">
        <span class="label">Brand: </span>
        <%= @listing.brand %>
      </div>

       <div class="field">
        <span class="label">Description: </span>
        <div class="description">
          <%= @listing.description %>
        </div>
      </div>

     <div class="field">
        <span class="label">Location: </span>
        <%= @suburb %>, <%= @postcode%>, <%= @state %>
      </div>

      <div class="field">
        <span class="label">Posted by: </span>
        <%= link_to @listing.user[:username], profile_path(@listing.user_id) %>
      </div>

      <div class="field">
        <span class="label">Last updated: </span>
        <%= @listing.updated_at.strftime("%d-%m-%Y") %>
      </div>

      <div class="field">
        <span class="label">Price: </span>
        <%= number_to_currency(@listing.price) %>
      </div>

<!-- Temp disabled for easier styling: only shows stripe/purchase link if the listing hasn't been purchase -->
      <%# unless @listing.purchase %>
      <div class="field">
          <%= button_to "Purchase",  purchase_listing_path(@listing.id), method: :get %>
      </div>
<%# end %>
<!-- Temp disabled for easier styling: might not need this if only available items will be display on index_listing
<% if @listing.purchase %>
<p>Sorry, this item is no longer available<p>
<% else %>
<%= link_to("Purchase", purchase_listing_path(@listing.id)) %>
<% end %>
-->

<!--Temp disabled for easier styling: Only listing owner will see edit & delete button -->
<%# if user_signed_in? and @listing.user_id == current_user.id %>
      <div class="field">
        <%= button_to "Edit", edit_listing_path(@listing), method: :get %>
      </div>
<%# end %>
<%# if user_signed_in? and @listing.user_id == current_user.id %>
      <div class="field">
        <%= button_to "Delete", listing_path(@listing), method: :delete, data: { confirm: "Are you sure?" }%>
      </div>
      <%# end %>
    </section>

<!-- Created 'questions_answers' partial view to render Q & A section-->
<!-- add either session or div for Q&A form -->
      <%= render "listings/questions_answers", listing: @listing %>

<!-- Footer -->
   <%= render "shared/footer" %>
</div>
