
<div id="listing-show">
  <h1>Show a listing</h1>

  <%= image_tag @listing.pic if @listing.pic.attached? %>

  <p>
    <span><%= @listing.brand %></span>
  </p>

  <p>
    <span><%= @listing.title %></span>
  </p>


  <p>
    <span>Posted by:</span>
    <%= @listing.user[:username] %>
  </p>
  
  <p> 
    <%= @suburb %>, <%= @postcode%>, <%= @state %>
  </p>

  <%= button_to 'Edit', edit_listing_path(@listing), method: :get %>
  
  <%= button_to 'Delete', listing_path(@listing), method: :delete, data: { confirm: "Are you sure?" }%>

  <p>
    <span>Price:</span>
    <%= number_to_currency(@listing.price) %>
  </p>

  <p>
    <span>Description:</span>
    <%= @listing.description %>
  </p>
  <%= link_to 'Back to Home', listings_path %>

   <h1>Have a qeustions?</h1>

<div>
  <h2>Q & A </h2>
   <% @listing.questions.each do |question| %>
    <p><span>Question</span>: <%= question.body %> </p>
    <p><span>Answer</span>: <%= question.answer.body if question.answer %></p>
    <% end %>
</div>

<%= form_with(model: @question, local: true) do |form| %>
    <div class="field">
      <%= form.label :body, "Ask a question" %>
      <%= form.text_area :body %>
    </div>

    <div class="field">
      <%= form.hidden_field :listing_id, value: @listing.id %>
    </div>

        <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class="actions">
    <%= form.submit "Submit your question"%>
  </div>
<% end %>

</div>
