<div id="listing-show">
  <h1>Show a listing</h1>

  <%= image_tag @listing.pic if @listing.pic.attached? %>

  <p>
    <span><%= @listing.title %></span>
  </p>

  <p>
    <span>Brand:</span>
    <%= @listing.brand %>
  </p>

  <p>
    <span>Posted by:</span>
    <%= link_to @listing.user[:username], profile_path(@listing.user_id) %>
  </p>
  
  <p> 
   <span>Location:</span>
    <%= @suburb %>, <%= @postcode%>, <%= @state %>
  </p>

  <%= button_to 'Edit', edit_listing_path(@listing), method: :get %>
  
  <%= button_to 'Delete', listing_path(@listing), method: :delete, data: { confirm: "Are you sure?" }%>

  <p>
    <span>Price:</span>
    <%= number_to_currency(@listing.price) %>
  </p>

  <p>
    <span>Description:</span>
    <%= @listing.description %>
  </p>
  <%= link_to 'Back to all listing', listings_path %>

<!-- Created 'questions_answers' partial view to render Q & A section-->
  <%= render 'listings/questions_answers', listing: @listing %>

</div>
