<div class="main" id="listing-show">
  <h1>Show a listing</h1>

  <%= render "listings/simple_search", listing: @listing %>

  <%= image_tag @listing.pic if @listing.pic.attached? %>

  <p>
    <span><%= @listing.title %></span>
  </p>

  <p>
    <span>Brand:</span>
    <%= @listing.brand %>
  </p>

  <p>
    <span>Posted by:</span>
    <%= link_to @listing.user[:username], profile_path(@listing.user_id) %>
  </p>
  
  <p> 
    <span>Location:</span>
    <%= @suburb %>, <%= @postcode%>, <%= @state %>
  </p>
 
  <p>
      <span>Last updated:</span>
      <%= @listing.updated_at.strftime("%d-%m-%Y") %>
  </p>

<!--Temp disabled for easier styling: Only listing owner will see edit & delete button -->
  <%# if user_signed_in? and @listing.user_id == current_user.id %>
    <%= button_to 'Edit', edit_listing_path(@listing), method: :get %>
  <%# end %>
  <%# if user_signed_in? and @listing.user_id == current_user.id %>
    <%= button_to 'Delete', listing_path(@listing), method: :delete, data: { confirm: "Are you sure?" }%>
  <%# end %>

  <p>
    <span>Price:</span>
    <%= number_to_currency(@listing.price) %>
  </p>

<!-- Temp disabled for easier styling: only shows stripe/purchase link if the listing hasn't been purchase -->
<%# unless @listing.purchase %>
<%= link_to("Purchase", purchase_listing_path(@listing.id)) %>
<%# end %>

<!-- Temp disabled for easier styling: might not need this if only available items will be display on index_listing
<% if @listing.purchase %>
  <p>Sorry, this item is no longer available<p>
<% else %>
  <%= link_to("Purchase", purchase_listing_path(@listing.id)) %>
<% end %>
-->



  <p>
    <span>Description:</span>
    <%= @listing.description %>
  </p>
  <%= link_to 'Back to all listing', listings_path %>

<!-- Created 'questions_answers' partial view to render Q & A section-->
  <%= render 'listings/questions_answers', listing: @listing %>

</div>
