<!--Nav: Menu-->
 
<nav id="nav-bar">

    <%= link_to("ABM", root_path , class: "nav-link", id: "nav-logo") %>
    <%= link_to("All Makeups", listings_path, class: "nav-link") %>
    <%= link_to("List Makeup", new_listing_path, class: "nav-link") %>
 <div class="dropdown">
        <button class="dropdown-button">
            <i class="fas fa-user-circle"></i>
                My ABM
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <%= link_to("Log In", new_user_session_path, class: "nav-link") %>
            <%= link_to("Sign Up", new_user_registration_path, class: "nav-link") %>
        </div>
    </div>
    
</nav>

            <% if user_signed_in? %>
            <%= link_to "logout", destroy_user_session_path, method: :delete %>
            <% else %>
            <%= link_to "login", new_user_session_path %>
            <% end %>