<!-- Nav bar & hero image inherited from application.html.erb -->

<div class="main" id="search-show">

<!-- Header -->
    <header>
        <h1>Advanced Search Results</h1>
    </header>

<!-- Main section-->
    <section>
        <div>
            <% if @search.search_listings.empty? %>
                <p>No Listings Found!<p>
            <% else %>
                <% @search.search_listings.each do |search| %>
                    <%= image_tag(search.pic, alt: "picture of makeup listing") if search.pic.attached? %>
                    <p><span><%= link_to "#{search.title}", listing_path(search.id) %></span></p>
                    <p>Brand: <%= search.brand %></p>
                    <p>Category: <%= search.category %></p>
                    <p>Price: <%= number_to_currency(search.price) %></p>
                <% end %>
            <% end %>
        </div>
    </section>
<!-- Footer -->
   <%= render "shared/footer" %>
</div>