<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aussie Beauty Market</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= params[:controller].parameterize %>_controller">
<!-- Nav Bar: globally applies to all pages-->
    <%= render "shared/nav_bar" %>
<!-- Hero: globally applies to all pages-->
    <div class="hero">
        <div class="overlay"></div>
         <h1>Beauty is Spirit</h1>
    </div>

<!-- Only display notice and alert when needed, in order to avoid white space issue on teh top -->
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
